<%= stylesheet_link_tag "mystyle.css" %>
<div class="hdln">
<br>
<h1 align="center"><b>СВІТ МУЗИЧНИХ ІНСТРУМЕНТІВ</b></h1>
<br>
<div class="bckg1">
     
    </div>
    <br>
<p  align="justify">Завжди хочеться одразу ж дізнатися відповідь на запитання «Чому я повинен обрати саме цей магазин?» Адже сучасний світ пропонує неймовірну кількість можливостей!

Ми – не просто магазин, де представлено широкий асортимент. «Музикант» завжди дбає про якість продукції й обслуговування, адже ми працюємо для Вас! Як підтвердження цих слів – наші Сервіси: вони покликані допомогти Вам у музичній діяльності й уникнути проблем будь-якого характеру.</p>

<h2>«Музикант» – це:</h2>
<ul align="left">
<li>найкраще обладнання всесвітньо відомих брендів</li>
<li>професійна порада під час вибору</li>
<li>якісне обслуговування на всіх етапах</li>
<li>гарантійне-постгарантійне обслуговування</li>
<li>думка експертів індустрії</li>
<li>найактуальніші новинки</li>
<li>безліч акцій</li>
<li>і навіть індивідуальне спецзамовлення</li>
</ul>
</div>

