<%= stylesheet_link_tag "mystyle.css" %>
<div class="hdln">
<br>
<h1 align="center"><b>ВИРОБНИКИ МУЗИЧНИХ ІНСТРУМЕНТІВ</b></h1>
<br>
<div class="bckg2"></div>
<br>

<div class="container">
  <div class="row align-items-between">
    <div class="col" style="border-style: outset;text-align:justified">
   <img align="middle" src="https://images.musicstore.de/marken/0360/startseite_yamaha_w.png" width="200" height="120" alt="Italian Trulli"><br><p >YAMAHA заснована в 1887 році Torakuzu Yamaha, майстром по виготовленню язичкових органів. З тих пір торгова марка YAMAHA здобула всесвітню популярність і повагу музикантів планети світу завдяки високій якості звуку, отриманій в результаті синтезу традиційних методів конструювання і виробництва з найсучаснішими технологіями, останніми досягненнями області електронної техніки. В наш час[коли?] YAMAHA є єдиною компанією у світі, що виробляє практично всі види музичних інструментів — роялі і піаніно, духові, ударні і перкусійні інструменти, гітари й електрогітари, клавішні синтезатори, семплери і тон-генератори, а також устаткування для обробки й посилення звуку, відрізняються бездоганним звучанням, зручністю використання, високою надійністю і розумною ціною. </p>
    </div>
    <div class="col"style="border-style: outset;text-align:justified">
 <img align="middle" src="https://images.musicstore.de/marken/0360/startseite_fame_w.png" width="200" height="120" alt="Italian Trulli"><br><p>Завдяки гітарам і басам, електричним барабанам, клавішним, цифровим піаніно, звукозаписуючому обладнанню та аксесуарам, Fame пропонує широкий асортимент музичних інструментів та обладнання. Хороша якість за надзвичайно низькими цінами - це основна увага всіх продуктів Fame. Від інструментальних кабелів до складних наборів електронних барабанів: музичні інструменти та обладнання від Fame пропонують приголомшливий звук, широко оснащені та пропонують таку ж якість, як і багато фірмових товарів, але за значно нижчими цінами.</p>
    </div>
    <div class="col" style="border-style: outset;text-align:justified">
   <img align="middle" src="https://images.musicstore.de/marken/0360/j-und-d_w.png" width="120" height="120" alt="Italian Trulli"> <br> <p>Професіонали J&D та MUSIC STORE: ми працюємо над доступними та чудовими інструментами разом з J&D вже більше двадцяти років. Довше, ніж більшість китайських виробників, існували навіть і успішніше, ніж багато відомих виробників у нашій галузі. Інструменти J&D за доступною ціною перевершують багато дорожчих гітар та басів, оскільки відгуки наших клієнтів завжди враховувалися при розробці продукту. </p>
     </div>
    
  </div>  
  </div>
</div>

